.supply_item {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 2px;
  font-size: 22px;
  font-weight: 600;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  $color_map: ('bag': red, 'bottle': blue, 'knife': green, 'map': orange, 'compass': purple, 'lamp': brown);

  @each $name, $color in $color_map {
    &-#{$name} {
      color: #fff;
      background-color: $color;
    }
  }

  &-dragged {
    animation: dragging 2s infinite linear;
  }

  &-custom {
    background-image: radial-gradient(orange, yellow);
  }
}