@keyframes dragging {
  0% {
    transform: translateY(0) rotateZ(0) scale(0.5);
    opacity: 1;
  }
  25% {
    transform: translateY(-25%) rotateZ(180deg) scale(0.5);
    opacity: 0.7;
  }
  50% {
    transform: translateY(0) rotateZ(0) scale(0.5);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-25%) rotateZ(-180deg) scale(0.5);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0) rotateZ(0) scale(0.5);
    opacity: 1;
  }
}

@keyframes highlighting {
  from {
    background-color: #4fc04f;
  } to {
    background-color: #fff;
  }
}

@keyframes dropArrow {
  from {
    transform: translateX(-50%) translateY(-50%);
  } to {
    transform: translateX(-50%) translateY(-60%);
  }
}