.supplies_list_wrapper {
  width: 120px;
  border: 2px solid #000;
  border-radius: 8px;

  .supplies_list_header {
    padding: 0 8px;
    text-align: center;
    font-style: italic;
  }

  .supplies_list_items {
    margin: 12px 0;
  }
}