.supplies {
  border-radius: 8px;

  .supplies_header {
    padding: 0 8px;
    text-align: center;
    font-style: italic;
  }

  .supplies_list {
    padding: 8px;
    border: 2px solid #000;
    border-radius: 4px;
    &:empty {
      display: none;
    }
  }
}